
@tailwind base;
@tailwind components;
@tailwind utilities;



/* * TailwindCSS 적용 후 전체적인 미관을 위해 
 * 다크 테마에 맞게 스크롤바 디자인을 변경합니다. (선택적)
 */
 ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #1f2937; /* gray-800 */
}
::-webkit-scrollbar-thumb {
    background: #4b5563; /* gray-600 */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #6b7280; /* gray-500 */
}